<ion-view>
    <ion-nav-title>
        <div class="bootstrap_row">
            <div class="col-xs-2 col-sm-1">
                <i class="icon ion-navicon" style="font-size:40px;"></i>
            </div>
            <div class="col-xs-7 col-sm-9">
                myGIIS
            </div>
            <div class="col-xs-1 col-sm-1 text-right">
                <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
            </div>
            <div class="col-xs-1 col-sm-1">
                26
            </div>
        </div>
    </ion-nav-title>
    <ion-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Quick Bid">
                <md-content>
                    <div class="box" style="overflow-x:hidden;">
                        <div class="bootstrap_row">
                            <div class="col-xs-12">
                                <!------------Code Ground-------------->
                                <md-card md-theme-watch class="">
                                    <md-card-title>
                                        <md-card-title-text>

                                            <div class="bootstrap_row">
                                                <div class="col-xs-6">
                                                    <img src="img/hero.png" />
                                                </div>
                                                <div class="col-xs-6">
                                                    <div style="margin-top:27px;">
                                                        <span class="md-headline"><i class="icon ion-ios-people" style="font-size:30px;"></i>&nbsp;&nbsp;33000/-</span>
                                                        <br />
                                                        in 2 Bid Cycle
                                                    </div>
                                                </div>
                                            </div>

                                        </md-card-title-text>
                                    </md-card-title>
                                    <div class="bootstrap_row" style="margin-left:8px;margin-bottom:10px;">
                                        <div class="col-xs-6">
                                            <i class="icon ion-android-bicycle" style="font-size:20px;"></i> Passion Pro +
                                        </div>
                                        <div class="col-xs-6">
                                            <i class="icon ion-flash" style="font-size:20px;"></i> 150 cc
                                        </div>
                                        <div class="col-xs-6">
                                            <i class="icon ion-ios-location-outline" style="font-size:20px;"></i> Maharastra
                                        </div>
                                        <div class="col-xs-6">
                                            <i class="icon ion-cash" style="font-size:20px;"></i> Finance
                                        </div>
                                        <div class="col-xs-6">
                                            <i class="icon ion-document" style="font-size:20px;"></i> NOC: YES
                                        </div>
                                        <div class="col-xs-4">
                                            <i class="icon ion-ios-pricetag-outline" style="font-size:20px;"></i> 25000/-
                                        </div>
                                    </div>
                                    <ion-scroll zooming="true" direction="x" style="width: 100%;">
                                        <div class="row">
                                            <div class="col col-25" style="background-color:darkslategrey;"><i class="material-icons" style="font-size:40px;position:absolute;top:17px;left:27px;">play_circle_filled</i></div>
                                            <div class="col col-25"><img src="img/hero.png" /></div>
                                            <div class="col col-25"><img src="img/hero.png" /></div>
                                            <div class="col col-25"><img src="img/hero.png" /></div>
                                            <div class="col col-25"><img src="img/hero.png" /></div>
                                            <div class="col col-25"><img src="img/hero.png" /></div>
                                        </div>
                                    </ion-scroll>
                                    <div class="bootstrap_row" style="margin-left:4px;margin-right:4px;">
                                        <div class="col-xs-9">
                                            <input type="number" style="border-bottom:1px solid gray;margin-top:10px;" placeholder="Enter Your Bid Value & Send" />
                                        </div>
                                        <div class="col-xs-3">
                                            <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                                                <i class="material-icons" style="position:absolute;top:8px;left:9px;">send</i>
                                            </md-button>
                                        </div>
                                    </div>

                                </md-card>
                                <!------------Code Ground-------------->

                            </div><!--End of ./Col-->
                            <!----Test Ground-->
                            
                            <!----Test Ground-->

                        </div><!--End of ./Row -->
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Long Bid">
                <md-content>
                    <!------------Code Ground-------------->
                    <!------------Code Ground-------------->
                </md-content>
            </md-tab>
            <md-tab label="My Uploads">
                <md-content>
                    <!------------Code Ground-------------->
                    <!------------Code Ground-------------->
                </md-content>
            </md-tab>
        </md-tabs>

    </ion-content>
</ion-view>
