<ion-view>
    <ion-content class="login_Window">

        <div class="login">
            <div class="text-center">
                <img src="img/bike_logo.jpg" />
            </div><!--End logo-->
            <div class="list list-inset" style="margin-bottom:0px;">
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="email" placeholder="Email" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" placeholder="Password">
                </label>
            </div><!--Login fields-->
            <div class="login_button">
                <button class="button button-full button-assertive" ng-click="doLogIn();">
                    LogIn
                </button>
            </div><!--End login button-->
        </div><!--End login-->

        <div style="position:fixed;bottom:0px;width:100%;">
            <button class="button button-full button-assertive" style="margin-bottom:0px;">
                Create Account&nbsp;&nbsp;<i class="icon ion-person-add"></i>
            </button>
        </div>

    </ion-content>
</ion-view>
